# Tim Gormly - Module 4 Project, Task 2

## Task 1. Create DataFrame

In [101]:
import pandas as pd

grades_dict = {'Wally': [87, 96, 70],
               'Eva': [100, 87, 90],
               'Sam': [94, 77, 90],
               'Katie': [100, 81, 90],
               'Bob': [83, 65, 85]}

grades = pd.DataFrame(grades_dict)

grades

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     90   85

## Task 2. Custom Index

In [102]:
print(f"We can run grades.index = ['Test1', 'Test2', 'Test3'] to create custom indexes instead of the default counter")

grades.index = ['Test1', 'Test2', 'Test3']

print(f"\nAfter this change, grades becomes:\n\n{grades}")

print(f"\nWe can pull Eva's grades using grades['Eva']:  \n\n{grades['Eva']}")
print(f"\nWe can pull Sam's grades using grades.Sam:  \n\n{grades.Sam}")

We can run grades.index = ['Test1', 'Test2', 'Test3'] to create custom indexes instead of the default counter

After this change, grades becomes:

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     90   85

We can pull Eva's grades using grades['Eva']:

Test1    100
Test2     87
Test3     90
Name: Eva, dtype: int64

We can pull Sam's grades using grades.Sam:

Test1    94
Test2    77
Test3    90
Name: Sam, dtype: int64

## Task 3. Accessing Rows (loc, iloc)

In [103]:
print("It is better to use loc, iloc, at, and iat as opposed to traditional indexing")

print(f"\nWe can access a row using grades.loc['Test1']:\n\n{grades.loc['Test1']}")

print(f"\nWe can also access a row using grades.iloc[0]:\n\n{grades.iloc[0]}")

print("\nI find loc to be more descriptive.  I think that the purpose of code written with loc would be easier to understand at a glance")

print(f"\nWe can also access a slice of rows using grades.iloc[0:2]:\n\n{grades.iloc[0:2]}")
print("\nNote that the values provided in the parameters for the slice are inclusive")

It is better to use loc, iloc, at, and iat as opposed to traditional indexing

We can access a row using grades.loc['Test1']:

Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Test1, dtype: int64

We can also access a row using grades.iloc[0]:

Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Test1, dtype: int64

I find loc to be more descriptive.  I think that the purpose of code written with loc would be easier to understand at a glance

We can also access a slice of rows using grades.iloc[0:2]:

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65

Note that the values provided in the parameters for the slice are inclusive

## Task 3. Accessing Subsets (at, iat)

In [104]:
print("We can access specific cells in a DataFrame using at and iat.  These work in a similar manner to loc and iloc.")

print("Eva's score on Test 2 can be accessed using grades.at['Test2', 'Eva']:\n")

print(f"{grades.at['Test2', 'Eva'] = }\n")

print("We can find the score on the grade the first student received on the third exam using grades.iat[2,0]\n")

print(f"{grades.iat[2,0] = }")

We can access specific cells in a DataFrame using at and iat.  These work in a similar manner to loc and iloc.
Eva's score on Test 2 can be accessed using grades.at['Test2', 'Eva']:

grades.at['Test2', 'Eva'] = 87

We can find the score on the grade the first student received on the third exam using grades.iat[2,0]

grades.iat[2,0] = 70

## Task 4. Describe (By Column)

In [105]:
print("grades.describe() can be used to get descriptive statistics for your Data Frame\n")

print(f"grades.describe() returns\n\n{grades.describe()}\n")

print('We can adjust the precision of our results using pd.set_option("display.precision", 2)\n')

pd.set_option("display.precision", 2)

print("Now when we call grades.describe(), we receive:\n")

print(grades.describe())

grades.describe() can be used to get descriptive statistics for your Data Frame

grades.describe() returns

       Wally     Eva    Sam   Katie    Bob
count   3.00    3.00   3.00    3.00   3.00
mean   84.33   92.33  87.00   90.33  77.67
std    13.20    6.81   8.89    9.50  11.02
min    70.00   87.00  77.00   81.00  65.00
25%    78.50   88.50  83.50   85.50  74.00
50%    87.00   90.00  90.00   90.00  83.00
75%    91.50   95.00  92.00   95.00  84.00
max    96.00  100.00  94.00  100.00  85.00

We can adjust the precision of our results using pd.set_option("display.precision", 2)

Now when we call grades.describe(), we receive:

       Wally     Eva    Sam   Katie    Bob
count   3.00    3.00   3.00    3.00   3.00
mean   84.33   92.33  87.00   90.33  77.67
std    13.20    6.81   8.89    9.50  11.02
min    70.00   87.00  77.00   81.00  65.00
25%    78.50   88.50  83.50   85.50  74.00
50%    87.00   90.00  90.00   90.00  83.00
75%    91.50   95.00  92.00   95.00  84.00
max    96.00  100.00  94.00  100.00  85.00

## Task 5. Transpose (rows <--> columns)

In [106]:
print("We can find the average for each column by calling grades.mean():\n")

print(f"grades.mean():\n\n{grades.mean()}\n")


print("We can call upon columns instead of rows using the T attribute, as in grades.T.describe()\n")

print(f"grades.T.describe():\n\n{grades.describe()}\n")
print(f"grades.T.mean():\n\n{grades.mean()}\n")
print(f"grades.T.std():\n\n{grades.std()}\n")

We can find the average for each column by calling grades.mean():

grades.mean():

Wally    84.33
Eva      92.33
Sam      87.00
Katie    90.33
Bob      77.67
dtype: float64

We can call upon columns instead of rows using the T attribute, as in grades.T.describe()

grades.T.describe():

       Wally     Eva    Sam   Katie    Bob
count   3.00    3.00   3.00    3.00   3.00
mean   84.33   92.33  87.00   90.33  77.67
std    13.20    6.81   8.89    9.50  11.02
min    70.00   87.00  77.00   81.00  65.00
25%    78.50   88.50  83.50   85.50  74.00
50%    87.00   90.00  90.00   90.00  83.00
75%    91.50   95.00  92.00   95.00  84.00
max    96.00  100.00  94.00  100.00  85.00

grades.T.mean():

Wally    84.33
Eva      92.33
Sam      87.00
Katie    90.33
Bob      77.67
dtype: float64

grades.T.std():

Wally    13.20
Eva       6.81
Sam       8.89
Katie     9.50
Bob      11.02
dtype: float64

## Task 6. Sort

In [107]:
print("A DataFrame can be sorted using the .sort_index attribute\n")

print("For example, grades.sort_index(ascending = False) creates the following change:\n")

print(f"grades:\n\n{grades}\n")

print(f"grades.sort_index(ascending = False):\n\n{grades.sort_index(ascending = False)}")

print("The rows have been displayed in reverse order, with the most recent exam scores being the first results.\n")

print("We can alphabetize the columns using grades.sort_index(axis = 1)\n")

print(f"grades:\n\n{grades}\n")

print(f"grades.sort_index(axis = 1):\n\n{grades.sort_index(axis = 1)}")

A DataFrame can be sorted using the .sort_index attribute

For example, grades.sort_index(ascending = False) creates the following change:

grades:

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     90   85

grades.sort_index(ascending = False):

       Wally  Eva  Sam  Katie  Bob
Test3     70   90   90     90   85
Test2     96   87   77     81   65
Test1     87  100   94    100   83
The rows have been displayed in reverse order, with the most recent exam scores being the first results.

We can alphabetize the columns using grades.sort_index(axis = 1)

grades:

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     90   85

grades.sort_index(axis = 1):

       Bob  Eva  Katie  Sam  Wally
Test1   83  100    100   94     87
Test2   65   87     81   77     96
Test3   85   90     90   90     70

TypeError: map() takes no keyword arguments